In [1]:
import os
import pandas as pd
os.getcwd()

'C:\\Users\\t.wiegner\\Documents\\Python Scripts'

In [2]:
df = pd.read_excel('LZ-Labor-Q-70.KL.SE.AK.221.xlsx','Eingabe_',index_col=None, header=None)

In [3]:

df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Luftprobe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Daten:
2,Probenahmeort,NaN,NaN,NaN,Probenahme-\nvolumen,NaN,NaN,NaN,Gesamtkeimzahl,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aerob mesophile Keime,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Person (davon 1 Messtechniker)
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Personen (davon 1 Messtechniker)
5,NaN,NaN,NaN,NaN,(Liter),NaN,NaN,NaN,(KBE/Platte),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3 Personen (davon 1 Messtechniker)
6,KL 1.1,NaN,NaN,NaN,1000,NaN,NaN,NaN,< 1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4 Personen (davon 1 Messtechniker)
7,KL 1.2,NaN,NaN,NaN,1000,NaN,NaN,NaN,< 1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5 Personen (davon 1 Messtechniker)
8,Kl 2.1,NaN,NaN,NaN,1000,NaN,NaN,NaN,< 1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6 Personen (davon 1 Messtechniker)
9,KL 3.1,NaN,NaN,NaN,1000,NaN,NaN,NaN,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7 Personen (davon 1 Messtechniker)

In [4]:
df = df.dropna(axis='columns', how = 'all')

In [6]:
se = df[0].iloc[21]
seort= df[0].iloc[24:35]

Luftprobe

In [7]:
ak=df[0].iloc[36]
akort = df[0].iloc[40:81]
akort_pos = df[4].iloc[40:81]
ak_K = df[14].iloc[40:81]
ak_P =df[19].iloc[40:81]

Sedimentationsplatten

In [8]:
se_S = df[20].iloc[25:35]
se_P = df[16].iloc[25:35]
se_K = df[4].iloc[25:35]

Kontaktplatten

In [9]:
kl = df[0].iloc[1]
klort = df[0].iloc[6:20]
kl_Volum = df[4].iloc[6:20]
kl_Platte = df[8].iloc[6:20]
kl_m3 = df[12].iloc[6:20]
kl_p = df[16].iloc[6:20]
kl_s = df[20].iloc[6:20]

In [13]:
kl

'Luftprobe'